<div class="container-fluid">
    <h1>Enrollment_Form</h1>
    <form action="">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="tel">Phone</label>
            <input type="tel" class="form-control">
        </div>


        <div class="form-group">
            <select name="custom-select">
                <option selected>Interested In</option>
                <option *ngFor="let topic of topics">{{topic}}</option>
            </select>
        </div>
    </form>
</div>