<mat-checkbox>
  subscribe
</mat-checkbox><br/>

<mat-checkbox labelPosition="before">
  subscribe
</mat-checkbox><br/>

<!-- <mat-checkbox style="color: black;"> -->
  <mat-checkbox color="primary">
  subscribe
</mat-checkbox>
<mat-checkbox color="accent">
  subscribe
</mat-checkbox>

<hr>
<mat-radio-group >
  <mat-radio-button value="fronted" color="warn">FrontEnd</mat-radio-button>
  <mat-radio-button value="backend" color="primary">BackEnd</mat-radio-button>
  <mat-radio-button value="weekend" color="accent">WeekEnd</mat-radio-button>
</mat-radio-group><br>
<div>
<mat-radio-button value="fronted">FrontEnd</mat-radio-button>
</div>
