<!-- <div>
    &nbsp;
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" #togglebtn>
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
</div> -->

<!-- <div>&nbsp;
    <mat-icon>Redo</mat-icon>
    <mat-icon>Select All</mat-icon>
    <mat-icon>Download Done</mat-icon>
</div> -->

<hr><br>
<div>
    <div matBadge="4">Text with a badge</div>

    <div matBadge="1" matBadgeSize="medium" class="demo-section">Text with large badge</div>

    <div class="demo-section">
        Button with a badge on the left
        <button mat-raised-buttoncolor="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
    </div>

    <div class="demo-section">
        Button toggles badge visibility
        <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
        Hide
    </button>
    </div>

    <div class="demo-section">
        Icon with a badge
        <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon> -->

        <!-- Include text description of the icon's meaning for screen-readers -->

        <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
        <div>
            &nbsp; &nbsp; &nbsp;<span matBadgePosition="below before">UnreadMessage</span>
        </div>&nbsp;

        <div>
            <span matBadge="4" matBadgeColor="warn" matBadgePosition="below after">UnreadMessage</span>
        </div>&nbsp;
        <div>
            <span matBadge="4" matBadgeColor="primary">UnreadMessage</span>
        </div>&nbsp;

        <div>
            <span matBadge="4" matBadgeColor="warn" matBadgePosition="above">UnreadMessage</span>
        </div>&nbsp;
        <div>
            <span matBadge="4" [matBadge]="notifivation" matBadgePosition="above after">UnreadMessage</span>
        </div>
    </div>
</div>

<!--
<div>
    <mat-progress-spinner value="20"></mat-progress-spinner>
</div> -->

<div>
    <mat-spinner *ngIf="showSpinner" color="warn"></mat-spinner>
    <button (click)="showData()" class="btn btn-primary">ShowData</button>
</div>
<!--
<mat-card class="example-card">
    <mat-card-content>
        <h2 class="example-h2">Progress spinner configuration</h2>

        <section class="example-section">
            <label class="example-margin">Color:</label>
            <mat-radio-group color="accent">
                <mat-radio-button class="example-margin" value="primary">Primary</mat-radio-button>
                <mat-radio-button class="example-margin" value="accent"> Accent</mat-radio-button>
                <mat-radio-button class="example-margin" value="warn">Warn</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section">
            <label class="example-margin">Mode:</label>
            <mat-radio-group color="accent">
                <mat-radio-button class="example-margin" value="determinate">
                    Determinate
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="indeterminate">
                    Indeterminate
                </mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section" *ngIf="mode === 'determinate'">
            <label class="example-margin">Progress:</label>
            <mat-slider class="example-margin" color="primary">
                <input type="range" matSliderThumb></mat-slider>
        </section>
    </mat-card-content>
</mat-card> -->
