<form #regForm="ngForm">
    <label>FirstName:</label>&nbsp; <input type="text" name="firstName" ngModel required placeholder="Enter Firstname"><br><br>

    <label>LastName:</label>&nbsp; <input type="text" name="lastName" ngModel required placeholder="Enter LastName"><br><br>

    <label>Surname:</label>&nbsp; <input type="text" name="surname" ngModel required placeholder="Enter Surname"><br><br>

    <label>Phone:</label>&nbsp; <input type="number" name="number" ngModel required placeholder="Enter Phone Number"><br>

</form>