<!-- <p>authorize works!</p> -->
<h2>working on HttpMethods through API Url</h2><br>
<ul>
    <li *ngFor=" let contact of contactList ">
        {{contact.FirstName}}
    </li>
</ul><br><br>
<hr>

<form #userForm="ngForm" (ngSubmit)="getPostData(userForm.value)">
    <input type="text" name="FirstName" placeholder="Enter your FirstName" ngModel><br><br>
    <input type="text" name="position" placeholder=" Enter your position " ngModel><br><br>
    <button>Submit</button>
</form>
<div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>


<!-- <button (click)="allservicesService.() ">The list of contacts are:</button> -->
<hr>
<div class="container">
    <div class="container-fluid">

        <h1>Details of Selected Candidates:</h1>
        <form #userForm="ngForm">

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="username" ngModel>
            </div><br>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" ngModel>
            </div><br>

            <div class="form-group">
                <label for="name">Telephone:</label>
                <input type="tel" class="form-control" name="phone" ngModel>
            </div><br>

            <div class="form-group">
                <select class="custom-select" ngModel name="topic">
      <option selected>I'm Interested in:</option>
      <option *ngFor="let sub of subjects">{{sub}}</option>
    </select>

                <div class="mb-3">
                    <label>Time Preference</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="timePreference" value="morning" ngModel>
                        <label class="form-check-label">Morning</label>
                    </div>

                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="timePreference" value="evening" ngModel>
                        <label class="form-check-label">Evening</label>
                    </div>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="subscribe" ngModel>
                    <label class="form-check-label" for="flexCheckDefault">
                Proposal Offers:
              </label>
                </div>
                <button type="button" class="btn btn-primary">SubmitForm</button>
            </div>
            <hr> {{userForm.value|json}}
            <hr>
        </form>
    </div>
</div>