
  
<!-- <button>Success</button> -->
<!-- <button (click)="value(11)">Submit</button><hr> -->

<!-- Two Way DataBinding -->

<!-- <input type="text" [(ngModel)]="username" />
<p>{{username}}</p><hr> -->










      <!-- <li><a routerLink="/Reactiveform" routerLinkActive="active" ariaCurrentWhenActive="page">ReactiveForm</a></li>
      <li><a routerLink="/todo" routerLinkActive="active" ariaCurrentWhenActive="page">TodoForm</a></li>
      <li><a routerLink="/listemployee" routerLinkActive="active" ariaCurrentWhenActive="page">Listemployee</a></li>
      <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">LogIn</a></li>
      <li><a routerLink="/pagenotfound" routerLinkActive="active" ariaCurrentWhenActive="page">PageNotFound</a></li>
      <li><a routerLink="/method" routerLinkActive="active" ariaCurrentWhenActive="page">methods</a></li>-->
      <!-- <li><a routerLink="/chandru" routerLinkActive="active" ariaCurrentWhenActive="page">chandru</a></li>-->
      <!-- <li><a routerLink="/corporate" routerLinkActive="active" ariaCurrentWhenActive="page">corporate</a></li> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-counter></app-counter>
    </div>
  </div>
</div>




<router-outlet> </router-outlet>
