<h1 class="header">
    We Are Learning</h1>
<p>Present we are working on Routing Module</p>
<!-- <button>Success</button> -->
<!-- <button (click)="value(11)">Submit</button><hr> -->

<!-- Two Way DataBinding -->

<!-- <input type="text" [(ngModel)]="username" />
<p>{{username}}</p><hr> -->

<!-- Calling all the components through the links  -->
<!--
<div class="container">
    <p>routing normal way</p>
    <ul>
        <li><a href="authorize">Authorize</a></li>
        <li><a href="chandru">Chandru</a></li>
        <li><a href="corporate">Corporate</a></li>
        <li><a href="login">LogIn</a></li>
        <li><a href="contacts">Contacts</a></li>

    </ul>
 -->

<!--
<p>Routing in Angular way</p>
<ul>
    <li><a [routerLink]="['/login']">login</a> </li>
    <li><a [routerLink]="['/pagenotfound']">PageNotFound</a></li>
    <li><a [routerLink]="['/Reactiveform']">Reactiveform</a></li>
    <li><a [routerLink]="['/todo']">todo</a> </li>
    <li><a [routerLink]="['/listemployee']">employeelist</a></li>
</ul>
</div> -->
<!-- <app-template></app-template> -->
<router-outlet>
    <ul>
        <!-- <li><a routerLink="/material" routerLinkActive="active" ariaCurrentWhenActive="page">material_Component</a></li> -->
    </ul>
</router-outlet>
