<h1 class="header">
    We Are Learning</h1>
<p>Present we are working on Routing Module</p>
<!-- <button>Success</button> -->
<!-- <button (click)="value(11)">Submit</button><hr> -->

<!-- Two Way DataBinding -->

<!-- <input type="text" [(ngModel)]="username" />
<p>{{username}}</p><hr> -->

<!-- Calling all the components through the links  -->


<ul>
    <li><a href="authorize">Authorize</a></li>
    <li><a href="chandru">Chandru</a></li>
    <li><a href="corporate">Corporate</a></li>
    <li><a href="failure">Failure</a></li>
    <li><a href="login">LogIn</a></li>
    <li><a href="contacts">Contacts</a></li>
    <li><a href="pagenotfound">PageNotFound</a></li>
    <li><a href="product">Product</a></li>
    <li><a href="productview">productview</a></li>
    <li><a href="productedit/">ProductEdit</a></li>
    <li><a href="success">Success</a></li>
    <li><a href="task">Task</a></li>
    <li><a href="todo">Todo</a></li>
</ul>

<!-- Pipes -->

<router-outlet>
    <!--  <app-corporate></app-corporate> -->
    <!-- <app-contacts></app-contacts>  -->
    <!-- <app-chandru></app-chandru> -->
    <!-- <app-autorize></app-autorize> -->
</router-outlet>