<form #dataForm="ngForm" (submit)="addDetails(dataForm)">
    <input type="text" name="firstname" [(ngModel)]="firstname" required>
    <br/>

    <select typ="list" [(ngModel)]="list" name="type" required>
      <option value="1">FrontEnd</option>
      <option value="2">BackEnd</option>
      <option value="3">FullStack</option>
    </select><br/>

    <textarea name="adderess" [(ngModel)]="address" required></textarea><br/>
    <input type="checkbox" name="terms" [(ngModel)]="terms" required>Accept Terms&conditions<br/>
    <button type="submit" class="btn btn-primary mt-2" [disabled]="!dataForm.valid">Submit</button>
    <button type="reset" class="btn btn-link mt-2" (click)="resetData(dataForm)"> Reset</button>
</form>
<hr>

<mat-toolbar color="primary" class="navbar">
    <div>Code Resolution</div>
    <div>
        <span>Home</span>
        <span>About</span>
        <span>Services</span>
    </div>
</mat-toolbar>


