<!-- <ul>
    <li *ngFor="let contact of contactList">
        {{contact.contactName}}
    </li>
</ul> -->
<div class="container">
    <div class="container-fluid">
        <h2>Registration-Form</h2>
        <form>
            <div class="form-froup">
                <label for="">UserName</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-froup">
                <label for="">Password</label>
                <input type="password" class="form-control">

                <div class="form-froup">
                    <label for="">Confirmpassword</label>
                    <input type="password" class="form-control">

                    <button type="button" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
